*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: 15px;
    scrollbar-color:  #FF4655 #111111;
}

::-webkit-scrollbar {
    /* display: none; */
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #111111;
}

::-webkit-scrollbar-thumb {
    background: #FF4655;
    /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb:hover {
    background: #FF4655;
}

body {
    min-width: 100%;
    height: 100vh;
    font-family: 'Rajdhani', sans-serif;
}

section {
    width: 100%;
    min-height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    /* z-index: 0; */
    position: relative;
}

section .content {
    position: absolute;
    /* margin: 100px auto 0 auto; */
    margin: 0 auto;
    z-index: 5;
    left: 15%;
    right: 15%;
    border-left: solid 1px #D6D3CC;
    bottom: 0;
    top: 0;
    height: 100%;
}

#introwrapper {
    background-color: #ECE8E1;
}

.nav-wrapper  {
    background-color: #111111;
    height: 100px;
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    z-index: 999;
}

/* .nav-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    top: 0;
    bottom: 0;
    grid-template-columns: 1fr 1fr;
    text-align: center;
} */

.nav-logo {
    cursor: pointer;
    display: block;
    top: 0;
    bottom: 0;
    height: 75px;
    width: 175px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("../assets/images/png/Full Color/Type_Lockup/V_Lockup_Vertical_Off-White.png");
    transition: all .25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.nav-logo:hover {
    transform: scale(1.1);
    /* background-image: url("../assets/images/png/Full Color/Type_Lockup/V_Lockup_Vertical_Red.png"); */
}

.hover-redlogo {
    height: 75px;
    width: 175px;
    position: absolute;
    opacity: 0;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("../assets/images/png/Full Color/Type_Lockup/V_Lockup_Vertical_Red.png");
    transition: all .25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    z-index: 999;
}

.nav-logo:hover > .hover-redlogo {
    /* display: block; */
    opacity: 1;
    /* transform: scale(1.2); */
}

li, a {
    font-weight: 500;
    color: #ECE8E1;
    text-decoration: none;
    font-size: 25px;
}

.links-container {
    list-style: none;
}

.links-container li {
    display: inline-block;
    padding: 0 15px;
}

.links-container li hr {
    width: 25px;
    border-color: #555555;
    bottom: 7.5px;
    position: relative;
}

.links-container li a {
    padding: 4px;
    /* border: 2px solid transparent; */
    /* border: none; */
    box-sizing: content-box;
    /* border-color: #D6D3CC; */
    border: solid 0px transparent;
    transition: all .15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    background: linear-gradient(#ECE8E1, #ECE8E1);
    background-repeat: no-repeat;
    background-position: 0% 50%;
	background-size: 100% 0;
}

.links-container li a:hover {
    color: #111111;
    /* transform: translateY(-10px) scale(1.02); */
    background-size: 100% 100%;
    background-position: 0% 50%;
    transition: all .25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.links-container li a::before,
.links-container li a::after,
.links-container li a span::before,
.links-container li a span::after {
    position: absolute;
    content: "";
    transition: all .15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    width: 10px;
    height: 10px;
}

.links-container li a::before {
    margin-top: 0x;
    margin-left: 0px;
    transition: all .15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.links-container li a:hover > ::before {
    margin-top: -12px;
    margin-left: -12px;
    border-top: solid 1px #D6D3CC;
    border-left: solid 1px #D6D3CC;
    transition: all .15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.links-container li:hover >  a::after {
    /*! margin-top: -2px; */
    /*! margin-right: -2px; */
    /*! border-top: solid 1px #D6D3CC; */
    /*! border-right: solid 1px #D6D3CC; */
    transition: all .15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}


.links-container li:hover a > span::before {
    /*! margin-bottom: -2px; */
    /*! margin-left: -2px; */
    /*! border-bottom: solid 1px #D6D3CC; */
    /*! border-left: solid 1px #D6D3CC; */
    transition: all .15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.links-container li a span::after {
    /* margin-bottom: -6px; */
    margin-left: -10px;
    margin-top: 22px;
    transition: all .15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.links-container li a:hover > span::after {
    margin-left: 2px;
    margin-top: 34px;
    border-bottom: solid 1px #D6D3CC;
    border-right: solid 1px #D6D3CC;
    transition: all .15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}


.btn-devs {
    background-color: #FF4655;
    border-radius: 50px;
    width: 160px;
    transition: all .25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.riot-logo {
    /* margin: 0 auto; */
    margin: 10px auto;
    width: 100px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("../assets/images/icons/riot-games-white.png");
    transition: all .25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.btn-devs:hover {
    /* background-image: url("../assets/images/icons/riot-games.png"); */
    background-color: #ECE8E1;
    transform: scale(1.05);
}

.btn-devs:hover > .riot-logo {
    background-image: url("../assets/images/icons/riot-games.png");
}

#introwrapper .content {
    margin: 100px auto 0 auto;
    border-right: solid 1px #D6D3CC;
    z-index: 5;
}

.content .title {
    margin-top: 100px;
    margin-bottom: 50px;
    position: relative;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #ECE8E1;
    text-shadow: 0 0 5px #111111;
    width: 500px;
    line-height: 1;
    height: max-content;
    text-transform: uppercase;
}

.content .split {
    border: solid 2.5px #ECE8E1;
    width: 250px;
}

.content .info {
    margin-top: 100px;
    font-weight: 400;
    font-size: 25px;
    width: 100%;
    position: relative;
    color: #ECE8E1;
    /* text-shadow: 0 0 10px #111111; */
    background-color: #0f1923bf;
    padding: 25px;
    /* border-top-left-radius: 50px;
    border-bottom-right-radius: 50px; */
    border-style: none;
    height: max-content;
    font-weight: 500;
}

#introwrapper .info::before {
    content: "";
    right: 0;
    height: 0;
    left: 0;
    top: -24.5px;
    position: absolute;
    border-bottom: 25px solid #0f1923bf;
    border-left: 25px solid transparent;
    /* border-right: 25px solid transparent; */
}
#introwrapper .info::after {
    content: "";
    /* width: 100%; */
    height: 0;
    left: 0;
    right: 0;
    bottom: -25px;
    position: absolute;
    border-top: 25px solid #0f1923bf;
    /* border-left: 25px solid transparent; */
    border-right: 25px solid transparent;
}

.content .info p {
    /* text-shadow: 0 0 5px #0f1923; */
}

.valorant-red {
    color: #FF4655;
    text-decoration: underline;
    /* font-family: 'Oswald', sans-serif; */
    font-weight: 900;
    position: relative;
    content: "";
    background: linear-gradient(#FF4655, #FF4655);
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-size: 0% 100%;
    transition: all .15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
   
}
.valorant-red a {
    color: #FF4655;
    /* text-decoration: underline; */
    transition: all .15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.valorant-red:hover {
    /* transform: translateY(-10px) scale(1.02); */
    background-size: 100% 100%;
    background-position: 0% 0%;
    transition: all .15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.valorant-red:hover > a {
    color: #ECE8E1;
    transition: all .15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#introwrapper .bgvid {
    margin-top: 100px;
    width: 100%;
    height: 84%;
    object-fit: cover;
    -o-object-fit: cover;
    z-index: 1;
    position: absolute;
}

#midwrapper {
    height: 200vh;
    background-color: #ECE8E1;
    z-index: 6;
}

#midwrapper .bg-title {
    position: relative;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 9.75vw;
    color: #D6D3CC;
    /* text-shadow: 0 0 5px #111111; */
    /* width: 500px; */
    line-height: 1;
    -webkit-text-fill-color: #ECE8E1;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #D6D3CC;
    z-index: 1;
    width: 100%;
    /* left: 10px; */
    font-style: italic;
}

#midwrapper .content .title {
    margin-top: 150px;
    color: #0f1923;
    /* width: 1000px; */
    text-shadow: none;
    font-size: 3.75vw;
    width: 90%;
}

#midwrapper .content .info {
    color: #0f192347;
    background: none;
    width: 40%;
    margin-left: 200px;
    display: grid;
    grid-template-columns: 325px 1fr;
    /* position: relative; */
}

#first {
    margin-bottom: 100px;
}

.game-preview {
    /* margin-top: 100px; */
    margin-left: 200px;
    width: 500px;
    /* background-color: #0f1923; */
    height: 300px;
}

.game-preview .vid {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
    z-index: 1;
    /* transform: translate(-150px , -225px) scale(2); */
    /* right: -325px; */
    /* right: 0; */
}

.game-preview .vid-accent {
    background-color: #0f1923;
    width: 400px;
    height: 25px;
    position: relative;
    bottom: 10px;
    left: 100px;
}

#second {
    width: 750px
}

#bottomwrapper {
    height: 180vh;
    background-color: #0f1923;
}

#bottomwrapper .bg-title {
    position: relative;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 14.5vw;
    color: rgb(162, 155, 139);
    /* text-shadow: 0 0 5px #111111; */
    /* width: 500px; */
    line-height: 1;
    -webkit-text-fill-color: #0f1923;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #D6D3CC;
    z-index: 1;
    width: 100%;
    left: -20px;
    font-style: italic;
    top: 50px;
}

#bottomwrapper .content .title {
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 3.75vw;
    width: 50%;
}

#bottomwrapper .content .info {
    display: grid;
    margin-top: 100px;
    font-weight: 400;
    font-size: 25px;
    /* width: max-content; */
    position: relative;
    color: #ECE8E1;
    /* text-shadow: 0 0 10px #111111; */
    /* background-color: #0f1923bf; */
    padding: 25px;
    /* border-top-left-radius: 50px;
    border-bottom-right-radius: 50px; */
    border-style: none;
    height: max-content;
    grid-template-columns: 1fr 1fr;
}

#bottomwrapper .content .info p {
    width: 75%;
    margin-bottom: 30px;
    margin-left: 100px;
    background: none;
    border: none;
    /* grid-column: 1 / -2; */
}
#privacy {
    display: block !important;
    width: 100%;
}

#creditswrapper {
    border-top: solid 50px #ECE8E1;
    min-height: 50vh;
    background-color: #111111;
}

#creditswrapper .content {
    border: none;
}

@media screen and (max-width: 1024px) {
    #introwrapper {
        height: 125vh;
    }
    #introwrapper .content .info {
        margin-top: 225px;
    }
    #bottomwrapper .content .info {
        grid-template-columns: 1fr;
    }

    #bottomwrapper .content .info p {
        margin-left: 0;
        width: 100%;
    }
}

@media screen and (max-width: 420px) {
    #bottomwrapper {
        height: 225vh;
        background-color: #0f1923;
    }
}